@import 'lib';

.axis {
  path,
  line {
    fill: none;
    stroke: $mild-blue;
    stroke-width: 2px;
  }
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
// TODO: Temp. I don't want to use these colors forever.
.population-1 .line, .line-1 {
  stroke: $mild-blue;
}
.population-2 .line, .line-2 {
  stroke: red;
}
.population-3 .line, .line-3 {
  stroke: orange;
}
.population-4 .line, .line-4 {
  stroke: yellow;
}
.population-5 .line, .line-5 {
  stroke: green;
}
.population-6 .line, .line-6 {
  stroke: purple;
}
.tick {
  text {
    fill: $chart-gray;
    font-size: 11px;
    font-weight: 100;
  }
  line {
    opacity: 0.2;
  }
}
.focus {
  display: none;

  circle {
    fill: #000;
    stroke: $mild-blue;
    stroke-width: 2px;
  }
}
.hover-zone {
  fill: none;
  pointer-events: all;
}
